/* Estilos generales */
.perfil-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* ========================= */
/* Barra lateral (Sidebar)   */
/* ========================= */
.sidebar {
  width: 250px;
  background-color: #2c3e50; /* Color oscuro del sidebar */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 10px;
}

.sidebar-btn {
  width: 100%;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.sidebar-btn:hover {
  background-color: #2980b9;
}

/* ========================= */
/* Contenido principal       */
/* ========================= */
.profile-content {
  flex-grow: 1;
  padding: 80px;
  background-color: #ffffff;
  width: 500px;
  margin-left: 450px;
}

.welcome {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ========================= */
/* Información del usuario   */
/* ========================= */
.profile-details {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #333;
}

.beneficiary {
  
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* ========================= */
/* Botones de acción        */
/* ========================= */
.actions {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: -650px;
  margin-top: 500px; /*botones*/
}
.action-btn {
  width: 100%;
  background-color: #3c80e7;
  color: black;
  border: none;
  padding: 10px;
  margin: 60px ;
  cursor: pointer;
  font-weight: bold;
  border-radius: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.action-btn:hover {
  background-color: #bdc3c7;
}


.LogoPerfil{
  width: 350px;
  margin-left: -1050px;
  margin-top: 15px;
}
.header-btn2 {
  background-color: transparent;
  border: radius;
  font-size: 30px;
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
  margin-top: -105px;
  margin-left: -1100px;  
}
.header-links {
  display: flex;
  gap: 15px;
}

.header4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

.volver-btn {
  background-color: #3a94e9;
  border: none;
  width: 32px;
  height: 32px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.volver-btn:hover {
  background-color: #bcbcbc;
}

